/* putting the wrapping containger in upper left */
.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  /* z-index 1 so that always on top */
  z-index: 1;
}
/* check box sits on top of menu items but will be 
invisible doing this  so we can use its state to create overlay toggle 
checked un checked */
.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  /* the check box is invisible but always on top  */
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  /* making check box invisible  */
  opacity: 0;
}
/* The outside wrapper of the hamburger */
.menu-wrap .hamburger {
  /* position in same place as the toggler */
  position: absolute;
  top: 0;
  left: 0;
  /* z-index 1 so it is just under the check box */
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: var(--primary-color);
  /* display flex so div inside will take care of lines  */
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ////  Hamburger line  */
/* lines of hamburger the empty div inside the hamburger div, will set
it to be a line then use before and after to insert to make 2 more lines 
*/
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  /* middle line of hamburger  */
  height: 2px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  /* to transition the x */
  transition: all 0.4s ease-in-out;
}
/* before and after psudoselector for top and bottom lines of hamburger  */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  /* use content but have to put something in */
  content: "";
  /* postion is absolute relative to the actual menu-wrap hamburger div */
  position: absolute;
  /*  */
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}
.menu-wrap .hamburger > div::after {
  /* all the same as above but moving this line down 10px */
  /* so that it is visible  */
  top: 10px;
}

/* turning hamburger into a rotating X  */
/* using the + selector to get the hamburger div */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

.menu-wrap .toggler:checked + .hamburger > div::before,
.menu-wrap .toggler:checked + .hamburger > div::after {
  /* all 3 lines will be on top of one another  */
  top: 0;
  /* rotating */
  transform: rotate(90deg);
}
/* adding rotating effect on hover when the check box is checked  */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}
/* overlay and list items /////////////////// */
.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* visibility: hidden; */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*  when check box checked apply a dark overlay to welcome page  */
.menu-wrap .menu > div {
  background: var(--overlay-color);
  width: 200vw;
  height: 200vh;
  /* so menu appears , re centering */
  display: flex;
  align-items: center;
  justify-content: center;
  /* adding transtion the scale to 0 for now will transition up when check box checked  */
  /* transform: scale(0); */
  transition: all 0.4 ease-in-out;
}
/* target the next div  */
.menu-wrap .menu > div > div {
  text-align: center;
  /* max-width of the items being scaled  */
  max-width: 90vw;
  max-height: 100vh;
  /* opacity to 0 to hide wen check box is not checked  */
  /* opacity: 0; */
  /* this is the transition in of the menu items  */
  transition: opacity 0.4s ease;
}
/* now styling the list items  */
.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}
/* a tab white no underline */
.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  /* transition for the color on hover */
  transition: color 0.4s ease-in-out;
}
.menu-wrap .menu > div > div > ul > li > a:hover {
  color: var(--secondary-color);
}
