:root {
  --primary-color: #f6a9a9;
  --secondary-color: #ffbf86;
  --light-color: #f3f3f3;
  --dark-color: #333;
  --max-width: 1000px;
}
.category {
  --sports_color: #ffbf86;
  --ent-color: #a66bbe;
  --tech-color: #009cff;
}
/* fonts  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: "Lato", sans-serif;
  line-height: 1.5;
  background: var(--light-color);
}
a {
  color: #333;
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  width: 100%;
}
h1,
h2,
h4,
h5,
h6 {
  font-family: "Staatliches", cursive;
  margin-bottom: 0.55rem;
  line-height: 1.3;
}
/* Utility */
.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}
/* navigation  */
#main-nav {
  background: #fff;
  /* sticky to the top nav always on top */
  position: sticky;
  top: 0;
  z-index: 2;
}
/* making the container the grid item */
#main-nav .container {
  display: grid;
}
