@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
}
body {
  background: #fafafa;
  font-family: "Roboto" sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
.magic {
  background: #4f08c2;
  color: #fff;
  font-family: "Poppins", sans-serif;
  border: 0;
  border-radius: 3px;
  font-size: 16px;
  padding: 12px 20px;
  position: fixed;
  top: 20px;
  letter-spacing: 1px;
  box-shadow: 0 3px rgba(236, 131, 214, 0.5);
  /* setting to 100 so that it is always on top */
  z-index: 100;
}
.magic:foucs {
  outline: none;
}
/* trick to cover box shadow looks like button is squishing down a bit */
.magic:active {
  box-shadow: none;
  transform: translateY(2px);
}
.boxes {
  display: flex;
  flex-wrap: wrap;
  /* space around ot make this look like a grid */
  justify-content: space-around;
  height: 500px;
  width: 500px;
  position: relative;
  /* transition forspinning effect 
   */
  transition: 0.4s ease;
}
.boxes.big {
  width: 600px;
  height: 600px;
}
/* add rotation the boxes if they have the big class */
.boxes.big .box {
  transform: rotateZ(360deg);
}
.box {
  background-image: url("https://media.giphy.com/media/EZqwsBSPlvSda/giphy.gif");
  background-repeat: no-repeat;
  /* this is making background big so in small baxes can only see part of the image */

  background-size: 500px 500px;
  /* to use the before and afer psudoselector need to make the postion relative  */
  position: relative;
  /* height and width in grid of 500 x 500 */
  height: 125px;
  width: 125px;
  /* transition for spinning effect 
   */
  transition: 0.4s ease;
}
.box::after {
  content: "";
  background: #f6e58d;
  /* aboslute relative to the box */
  position: absolute;
  top: 8px;
  right: -15px;
  height: 100%;
  width: 15px;
  transform: skewY(45deg);
}
.box::before {
  content: "";
  background: #f9ca24;
  /* aboslute relative to the box */
  position: absolute;
  bottom: -15px;
  left: 8px;
  height: 15px;
  width: 100%;
  transform: skewX(45deg);
}
